/****** Blog Style ******/
.dslc-12-col.as-fullwidth{
    .as-post-item{
        .as-featured-img{
            a{
                img{
                    width: 100%;
                }
            }
        }
    }
}
#as-page-blog-classic{
    .dslc-col.dslc-8-col,
    .dslc-col.dslc-7-col,
    .dslc-col.dslc-5-col,
    .dslc-col.dslc-4-col,
    .dslc-col.dslc-12-col{
        position: relative;	
        padding: 60px 0;
    }
    &.as-sidebar-border-left{
        .dslc-col.dslc-4-col{
            padding-left: 2.12766%;
            position: relative;
            .as-border-sidebar{
                position: absolute;
                width: 1px;
                background: #eee;
                left: 0;
                top: 0;
            }
        }
    }
    &.as-sidebar-border-right{
        .dslc-col.dslc-4-col{
            padding-right: 2.12766%;
            .as-border-sidebar{
                position: absolute;
                width: 1px;
                background: #eee;
                right: 0;
                top: 0;
            }
        }
    }
    .as-date-format-wrapper{
        position: absolute;
        top: 10px;
        left: 0;
        width: 60px;
        height: 165px;
        text-align: center;
        padding-top: 10px;
        .as-post-date{
            color: #aaa;
            line-height: 28px;
            display: block;
            position: relative;
            margin-bottom: 35px;
            > span{
                display: block;
            }
            .as-post-date-days{
                font-size: 30px;
            }
            .as-post-date-month{
                font-size: 20px;
            }
            &:before{
                content: '';
                position: absolute;
                width: 75px;
                height: 1px;
                background: #eee;
                bottom: -18px;
                right: -10px;
            }
        }
        &:after{
            content: '';
            position: absolute;
            width: 1px;
            height: 100%;
            background: #eee;
            right: -10px;
            top: 0;
        }    
        .as-icon-format-post{
            .dslc-icon{
                font-size: 30px;
                color: #aaa;
            }
        }
    }
    // wrapper post item
    .as-post-item{
        display: block;
        padding-left: 90px;
        margin-bottom: 30px;
        position: relative;
        // gallery nav style 
        .as-gallery-wrapper{
            display: block;
            position: relative;	
            .as-customNavigation-blog {
                text-align: center;
                display: block;
                position: absolute;
                z-index: 9;
                width: 100%;
                height: 100%;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                a{
                    width: 35px;
                    height: 35px;
                    background: #333;
                    text-align: center;
                    cursor: pointer;
                    color: #fff;
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    margin-top: -17px;
                    opacity: 0;
                    .dslc-icon{
                        font-size: 20px;
                        margin-top: 7px;
                        display: block;
                    }	
                    @include transition();
                }
                .as-btn-slider-post-prev{
                    left: 0;
                }
                .as-btn-slider-post-next{
                    right: 0;
                }
            }
            .owl-theme .owl-controls {
                margin-top: -35px;
                position: relative;
                z-index: 99;
                .owl-page span {
                    width: 12px;
                    height: 12px;
                    background: #2c3e50;
                }
            }
            &:hover{ 
                .as-customNavigation-blog a.as-btn-slider-post-prev {
                    opacity: 1;
                    left: 30px;
                }
                .as-customNavigation-blog a.as-btn-slider-post-next {
                    opacity: 1;
                    right: 30px;
                }
            }
        }
        .as-featured-quote,
        .as-featured-link{
            border-left: 5px solid;
            display: block;
            padding: 20px;
            background: #e7e7e7;
        }
        .as-featured-quote{
            a{
                color: #6B707E;
            }
            blockquote{
                font-size: 24px;
                font-style: italic;
                text-align: center;
                display: inline-block;
            }
        }
        .as-featured-link{
            background: #303030;
            a{
                font-size: 30px;
                span{
                    font-size: 30px;
                }
                &:hover span{
                    margin-right: 10px;
                }
            }
        }
    }
    .dslc-col .as-post-item:last-child{
        margin-bottom: 0;
    }
    // prev & next link
    .blog-single-more-link,
    .as-prj-single-more-link{
        display: block;
        margin-bottom: 20px;
        .as-post-nav-prev,
        .as-post-nav-next{
            width: 50%;
            height: 100px;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            position: relative;
            .as-mark-image{
                position: absolute;
                display: block;
                width: 100%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                @include background-opacity( #000, .4 );
                @include transition();	
            }
            &:hover{
                .as-mark-image{
                    @include background-opacity( #000, .2 );
                }
            }
            .as-content-prev-next-post{
                position: relative;
                z-index: 2;
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 30px;
                .as-future-title{
                    color: #e8e8e8;
                    display: block;
                    width: 100%;
                    h6{
                        margin-bottom: 0;
                        color: #d8d8d8;
                        font-size: 14px;
                        @include transition();
                    }
                    .as-date{
                        font-size: 11px;
                        display: block;
                        @include transition();
                    }
                }
            }
        }
        .as-icon-link-post{
            position: absolute;
            font-size: 60px;
            top: 50%;
            color: #fff;
            @include transform(translateY(-50%));
            display: none;
        }
        .as-post-nav-prev{
            float: left;
            .as-icon-link-post{
                left: 20px;
            }
            &:hover{
                .as-future-title{
                    h6, .as-date{
                        color: #fff;
                        padding-left: 10px;
                    }
                }
            }
        }
        .as-post-nav-next{
            float: right;
            .as-icon-link-post{
                right: 20px;
            }
            .as-future-title{
                text-align: right;
            }
            &:hover{
                .as-future-title{
                    h6, .as-date{
                        color: #fff;
                        padding-right: 10px;
                    }
                }
            }
        }

    }
    // content blog style
    .as-excerpt{
        display: block;
        margin: 20px 0 30px;
        font-size: 14px;
        color: #797979;
    }
    // tag blog style
    .as-tag-post-wrapper{
        position: relative;
        display: inline-block;
        width: 80%;
        .dslc-icon{
            font-size: 20px;
            color: #aaaaaa;
            display: inline-block;
            vertical-align: middle;
            margin-top: -6px;
            margin-right: 5px;
        }
        > a{
            @include transition();
            color: #aaaaaa;
        }
    }
    // image blog style
    .as-featured-content-img {
        a{
            display: block;
            position: relative;
            @include transition();
            &:hover{
                opacity: .8;
            }
        }
    }
    // social share style
    .as-post-social-group{
        display: inline-block;
        vertical-align: middle;
        float: right;
        .as-share-social-list{
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
            cursor: pointer;
            position: relative;
        }
    }
    // title + meta blog style
    .as-title-meta-wrapper{
        display: block;
        width: 100%;
        .as-post-title{
            margin-bottom: 5px;
            a{
                display: inline-block;
                color: #212121;
                font-size: 30px;
                @include transition();
            }
        }
        .as-post-info{
            display: block;
            position: relative;
            margin-bottom: 20px;
            > div{
                margin-right: 40px;
                color: #aaaaaa;
                position: relative;
                display: inline-block;
                vertical-align: middle;
                font-size: 12px;
                a{
                    color: #aaaaaa;
                    @include transition();
                }
                &:after{
                    content: '';
                    position: absolute;
                    width: 5px;
                    height: 1px;
                    background: #aaaaaa;
                    right: -20px;
                    bottom: 10px;
                }
                &:last-child:after{
                    display: none;
                }
                .dslc-icon{
                    color: #aaaaaa;
                    margin-right: 5px;
                    @include transition();
                }
                &.as-date{
                    text-transform: uppercase;
                    font-weight: 700;
                }
                a.as-post-like{
                    &:hover .dslc-icon, 
                        &.active .dslc-icon{
                        color: #F50057;
                    }
                }
            }
        }
    }
}
.as-post-social-group{
    .as-share-social-list{
        .as-share-btn{
            color: #797979;
            font-size: 14px;
        }
    }
    .as-list-icon-share-btn{
        position: absolute;
        z-index: 1;
        width: 120px;
        background: #ccc;
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
        top: -55px;
        left: -25px;
        @include transition(all 0.3s ease 0.25s);
        &:before{
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 8px 7.5px 0 7.5px;
            border-color: #44ccf6 transparent transparent transparent;
            line-height: 0px;
            _border-color: #44ccf6 #000000 #000000 #000000;
            _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
            bottom: -8px;
            left: 50%;
            margin-left: -8px;
        }
        li{
            float: left;
            width: 40px;
            text-align: center;
            color: #fff;
            a{
                display: block;
                width: 100%;
                height: 100%;
                color: #fff !important;
                padding: 5px 0;
                &.as-post-share-social-facebook{
                    background: #3b5998;
                }
                &.as-post-share-social-twitter{
                    background: #44ccf6;
                }
                &.as-post-share-social-google{
                    background: #d13f2d;
                }
            }
        }
    }
    &:hover .as-list-icon-share-btn{
        visibility: visible;
        opacity: 1;
        filter: alpha(opacity=100);
        top: -45px;
        -webkit-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }
}

.as-line-bottom-blog{
    margin: 50px 0 45px;
    .as-line-full,
    .as-line-half{
        display: block;
        height: 1px;
        background: #eee;
    }
    .as-line-full{
        width: 100%;
        margin-bottom: 2px;
    }
    .as-line-half{
        width: 50%;
    }
}
.as-post-btn-group a.as-btn-readmore{
    position: relative;
    display: inline-block;
    font-weight: 700;
    background: none;
    text-align: center;
    color: #797979;
    text-transform: capitalize;
    font-size: 12px;
    @include transition();
    &:hover {
        color: #fff;
        .dslc-icon{
            margin-right: 15px;
        }
    }
    .dslc-icon{
        margin-right: 10px;
        @include transition();
    }
}
.as-pagination-wrapper {
    text-align: right;
    ul li{
        display: inline-block;
        margin-left: -3px;
        a,
        > span {
            display: block;
            padding: 5px 15px;
            border: 1px solid #eee;
            border-right: none;
            text-align: center;
            color: #797979;
            font-weight: 700;
            font-size: 12px;
            text-transform: uppercase;
            @include transition();
            &:hover{
                color: #fff;
            }
        }
        &:last-child{
            a,
            > span{
                border-right: 1px solid #eee;
            }
        }
    }
}